html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lucida Grande", sans-serif;
    background-color: darkgrey;
    height: 100%;
}

main {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    padding: 120px;
}


h1 {
    position: fixed;
    top: 0;
    padding: 1em;
    width: 100%;
    background-color: dimgrey;
    color: lightgrey;
    transition: 0.5s;
    z-index: 10
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 1em;
    transition: 0.5s;
}


#scrollBtn {
    /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: solid; /* Remove borders */
    border-style: solid;
    border-width: 3px;
    outline: none; /* Remove outline */
    background-color: slategray; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12.5px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
}

    #scrollBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

h2 {
    background-color: slategrey;
    color: darkslategrey;
    padding: 1em;
}

h3 {
    background-color: darkslategrey;
    color: lightslategrey;
    padding: 1em;
}

pre {
    font-family: "Lucida Sans Typewriter", monospace;
    background-color: #1f2f2f;
    color: greenyellow;
}

ul li {
    display: inline-flex;
    background-color: lightgrey;
    padding: 2em;
}

    ul li:hover {
        background-color: whitesmoke;
    }

ol li {
    background-color: #223434;
    color: antiquewhite;
    padding: 0 1em 0;
}

section#HTML pre {
    line-height: 1.5em;
    padding: 2em;
}

section#git pre,
section#JS pre,
section#DOM pre,
section#CSS pre {
    display: inline-flex;
    padding: 0.75em 1.25em;
}

section#git p,
section#JS p,
section#DOM p,
section#CSS p {
    display: inline-flex;
    background-color: dimgrey;
    color: #dfefef;
    padding: 0.75em 1.25em;
}

section#git a,
section#JS a,
section#DOM a,
section#CSS a {
    display: inline-flex;
    background-color: lightgrey;
    padding: 0.75em;
}

    section#git a:hover,
    section#JS a:hover,
    section#DOM a:hover,
    section#CSS a:hover {
        display: inline-flex;
        background-color: whitesmoke;
    }

footer h6 {
    text-align: right;
    background-color: dimgrey;
    color: lightgrey;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
